s3/voices/melenchon-light.wav filter=lfs diff=lfs merge=lfs -text
s3/voices/zemmour-light.wav filter=lfs diff=lfs merge=lfs -text
s3/faces/melenchon-selfie.png filter=lfs diff=lfs merge=lfs -text
s3/faces/zemmour-selfie.png filter=lfs diff=lfs merge=lfs -text
